#navigation {
	position: fixed;
	width: 15%;
	height: 100%
}

#content {
	padding-left: 20%;
}

li {
	display: block;
	float: right;
	padding: 6px 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #cdd;
	color: #333;
	border-bottom: 1px solid #689;
	text-decoration: none;
	margin: 3px;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}