#navigation {
	position: fixed;
	width: 25%;
	height: 100%
}

.content {
	padding-left: 30%;
	padding-right: 20%;
}

.line {
	background: #ddd;
	width: 10%;
	height: 3px;
	margin: 12px 0;
}

li a {
	display: block;
	float: right;
	padding: 6px 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #cdd;
	color: #333;
	border-bottom: 1px solid #689;
	text-decoration: none;
	font-size: 14px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	margin: 3px;
	clear: both;
}

#navigation img {
	float: right;
}

li a:hover {
	background-color: #cee;
}

ul.nav {
	display: block;
	list-style: none;
}

h1 {
	text-align: center;
	color: white;
	font-size: 64px;
	margin-bottom: 0;
	font-family: 'arvo',helvetica,arial,sans-serif;
}

h2 {
	color: white;
	font-size: 48px;
	margin-bottom: 0;
	font-family: 'arvo',helvetica,arial,sans-serif;
}

h4 {
	color: #689;
	font-size: 18px;
}

h5 {
	color: white;
	font-size: 18px;
	margin-top: 0;
	font-family: 'arvo',helvetica,arial,sans-serif;
}

body {
	font-family: arial,sans-serif;
	color: #666;
	line-height: 1.45;
	font-size: 15px;
}