#navigation {
	position: fixed;
	width: 200px;
	height: 100%
}

#content {
	padding-left: 200px;
}

li {
	float: right;
	padding: 6px 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #cdd;
	color: #333;
	border-bottom: 1px solid #689;
	text-decoration: none;
}